
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20%;
}

a:hover, a:active {
  background-color: red;
}
body
{
  background-color:blue;
}
</style>
</head>
<body>
  <h1><center><font color="green">SIGNUP  YOURSELF  PLEASE</font></center></h1>
<center>
  <h1><a class="a1" href="/signup/riderform/">As Rider</a>
  <a href="/signup/driverform/">As Driver</a></h1>
</center>
</body>
</html>



