<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20%;
}

a:hover, a:active {
  background-color: red;
}
body
{
  background-color:blue;
}
</style>
</head>
<body>
  <h1><center><font color="green"><b>LOGIN  YOURSELF  PLEASE</b></font></center></h1>
<center>
	<h1><a href="/login/riderlogin/">As Rider</a>
	<a href="/login/driverlogin/">As Driver</a></h1>
</center>
</body>
</html>
