{% extends "header2.html" %}
{% block content %}
<center><h1>Trip Information </h1></center>
<div>  
    <form action="/cabsearch/confirm/" method="post">{% csrf_token %}
           <h1>PICKUP:{{d.pickup}} </h1> 
           <h1>DROP:{{d.drop}} </h1>
           <h1>TEXI TYPE:{{d.texitype}} </h1>
           <input type="hidden" id="pickup" name="pickup" value="{{d.pickup}}">
           <input type="hidden" id="drop" name="drop" value="{{d.drop}}">
            <input type="hidden" id="texitype" name="texitype" value="{{d.texitype}}">

    <input type="submit" value="Continue">
  </form>

</div>
     
{% endblock %}