{% extends "rheader.html" %}
{% block content %}
<div class="left">
  <form action="/rider/setpassword/" method="post">{% csrf_token %}
    <label for="old password">Old Password</label>
    <input type="password" id="old" name="old" placeholder="Old Password" required>

    <label for="pass">Password</label>
    <input type="password" id="pass" name="pass" placeholder="Enter New password" required>

    <label for="pass">Re-Enter Password</label>
    <input type="password" id="repass" name="repass" placeholder="ReEnter New password" required>

    <input type="submit" value="Set New Password">
  </form>
</div>
{% endblock %}
